/* Awards Section */
.sectionHeaderWrapper {
    background-color: #1a1a1a;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.sectionHeading {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #ce7d63;
    display: inline-block;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #fff;
}

.awardCard {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
}

.dateBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.date {
    background: #222;
    border-radius: 30px;
    padding: 6px 12px;
    font-size: 13px;
    color: #aaa;
    font-weight: bold;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    background: #333;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.awardCard h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.awardCard p {
    font-size: 14px;
    color: #ccc;
}