.services {
  padding: 50px 20px;
  background: #0e0e0e;
  color: #fff;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 15px;
  margin-top: 40px;
}

.servicesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
}

.serviceBox {
  background: #1a1a1a;
  border: 1px solid rgba(47, 46, 46, 0.05);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleBox {
  grid-column: span 2;
  background: #1a1a1a;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 12px;
}

.serviceInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.serviceInfo img {
  width: 40px;
  height: 40px;
}

.serviceTitle {
  font-size: 18px;
  font-weight: 700;
}

.serviceBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
  text-align: right;
}

.serviceIcon {
  font-size: 14px;
  color: #e7beb1;
}

.bookSpan {
  font-size: 12px;
  color: #dcdcdc;
  cursor: pointer;
}

.serviceDesc {
  color: #9b9b9d;
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.5;
}

.serviceActions {
  flex-grow: 1;
  margin-bottom: 12px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #dcdcdc;
  margin-top: auto;
  text-align: right;
}

/* ==================== Responsive ==================== */

/* Tablets */
@media (max-width: 992px) {
  .servicesContainer {
    grid-template-columns: 1fr; /* عمود واحد */
  }

  .titleBox {
    grid-column: span 1;
    text-align: center;
    font-size: 22px;
  }

  .serviceBox {
    padding: 20px;
  }

  .serviceTitle {
    font-size: 16px;
  }

  .price {
    text-align: left;
    margin-top: 10px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .services {
    padding: 30px 15px;
  }

  .serviceInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .serviceBtn {
    margin-left: 0;
  }

  .bookSpan {
    font-size: 11px;
  }

  .serviceTitle {
    font-size: 15px;
  }

  .serviceDesc {
    font-size: 11px;
  }

  .price {
    font-size: 14px;
    text-align: left;
  }
}
