.stories {
  margin-top: 80px;
  margin-bottom: 80px;
}

.storiesTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  padding: 40px;
  border-radius: 10px;
  background: #1a1a1a;
  margin-bottom: 20px;
}

.storiesCaseList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.storiesCase {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 14px;
  padding: 30px;
  background: #0e0e0e;
  color: #fff;
  border: 1px solid #424242;
  border-radius: 15px;
}

.storiesMeta {
  background: #1a1a1a;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.storiesBadges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.storiesPill {
  padding: 8px 10px;
  border-radius: 999px;
  background: #171717;
  border: 1px solid rgba(255, 255, 255, 0.02);
  font-size: 12px;
  color: #d0d0d4;
  margin-top: 30px;
}

.storiesSolution {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.storiesTabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.storiesTab {
  padding: 10px;
  border-radius: 10px;
  background: #1a1a1a;
  border: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #cfcfcf;
  cursor: pointer;
  transition: all 0.3s ease;
}

.active {
  background: #ce7d63;
  color: #000;
  border-color: #ce7d63;
}

.storiesSolutionContent {
  background: #1a1a1a;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.storiesSolutionTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 25px;
}

.storiesSolutionTxt {
  color: #bfbfc2;
  font-size: 11px;
  line-height: 1.5;
}

.storiesArrowLink {
  color: #fff;
  font-size: 12px;

margin: 7px;
}

/* ===== Media Queries ===== */
@media (max-width: 1060px) {
  .storiesCase {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .storiesTop {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 25px 20px;
  }

  .storiesCase {
    padding: 20px 15px;
    gap: 20px;
  }

  .storiesTabs {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 15px;
  }

  .storiesSolutionTitle {
    font-size: 22px;
  }
}
