.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .875rem 1.375rem;
  background: #1a1a1a;
  border-radius: .875rem;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e0d0c9;
  white-space: nowrap;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #e0d0c9;
}

.navLinks {
  display: flex;
  gap: .9375rem;
}

.navLinks a {
  text-decoration: none;
  color: #777;
  background: #101010;
  padding: .625rem 1.125rem;
  border-radius: .75rem;
  font-weight: 600;
  transition: 0.3s;
}

.navLinks a:hover:not(.contact) {
  color: #e0d0c9;
  background: #191919;
}

.active {
  color: #e0d0c9 !important;
  background: #0a0a0a !important;
}

.contact {
  background: #CE7D63 !important;
  color: #111 !important;
  font-weight: bold !important;
  border: #CE7D63 2px solid;
}

.contact:hover {
  opacity: 0.9;
}

.activeContact {
  background: #f2f2f2 !important;
  color: #111 !important;
  font-weight: bold  !important ;
  border: #CE7D63 2px solid;
}


/* Responsive */
@media (max-width:900px) {
  .menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: .625rem;
    padding-inline: .625rem;
    padding-block: .625rem;
  }

  .navLinks {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    flex-direction: column;
    background: #1a1a1a;
    padding: .75rem;
    border-radius: .875rem;
    display: none;
    gap: .625rem;
    z-index: 999;
  }

  .open {
    display: flex;
  }

  .navLinks a {
    width: 100%;
    text-align: center;
  }
}
